.list-item {
    border-bottom: 0.1em solid var(--blueDarken);
    cursor: pointer;
    padding: 1.5em 0;
    overflow: hidden;
    position: relative;
    color: var(--text);

    span {
        font-size: 1.8em;
    }
}
