.app {
    background: var(--blue);
    color: var(--text);
    margin: 0 auto;
    max-width: 992px;
    min-height: 100vh;
    padding: var(--gap) 0 40px 0;
    width: 100%;
    overflow: hidden;
    transform: translateZ(0);

    &-show-modal {
        height: 100vh;
        overflow-y: hidden;
        position: relative;
        width: 100%;
    }
}
