.modal {
    align-items: center;
    background: var(--blueDarken);
    border-top: 0.02em solid var(--blueLignt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 992px;
    padding: 1.5em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 200;
    transform: translateY(100%) scaleX(1.2);

    .buttons {
        display: flex;
        width: 100%;

        .button {
            width: 50%;

            &:first-child {
                margin-right: 2em;
            }
        }
    }

    .input-wrapp {
        position: relative;
        margin: 0 0 2em 0;
        width: 100%;

        .input-line {
            background: var(--blueLignt);
            bottom: 0;
            height: 0.2em;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            transition: width 0.35s ease-out;
            width: 0%;
        }
    }

    input {
        background: transparent;
        border: none;
        border-bottom: 0.2em solid var(--purpur);
        color: var(--text);
        font-size: 1.2em;
        height: 4em;

        &:focus {
            outline: none;

            & + .input-line {
                width: 100%;
            }
        }

        &.added-name {
            width: 100%;
        }
    }

    .react-datepicker {
        font-size: 1.3em;

        &-wrapper {
            width: 100%;

            input {
                width: 100%;
            }
        }

        &-poper {
            position: absolute;
            will-change: transform;
            top: 0px;
            left: 50%;
            transform: translate3d(-50%, 4.9em, 0px);
        }

        &__day-name,
        &__day,
        &__time-name {
            width: 2.15em;
            line-height: 2.15em;
        }
    }
}
